* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  --main-color: #03a9f4;
  --secondary-color: #005c85;
  --background-color: #eee;
  --text-color: #777;
  --transition: 0.5s;
}

.custom-bt {
  background-color: var(--main-color);
  outline: none;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 1px var(--secondary-color);
  cursor: pointer;
  padding: 15px 25px;
  height: fit-content;
  color: white;
  transition: var(--transition);
  margin-left: 10px;
}

.custom-bt:hover {
  background-color: var(--secondary-color);
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 10px;
}

.parent {
  height: 400px;
  width: 60%;
  background-image: linear-gradient(
    45deg,
    var(--secondary-color) 0%,
    #242b2f 50%,
    var(--secondary-color) 100%
  );
  box-shadow: 0 0 10px 2px #aaa;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 768px) {
  .parent {
    width: 100%;
  }
}

.parent .message {
  font-size: 40px;
  color: white;
  font-weight: 900;
  letter-spacing: 2px;
}

.parent .message + p {
  font-size: 20px;
  color: #777;
  margin: 0px 50px;
  text-align: center;
}

.parent .reset-password {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}

@media (max-width: 768px) {
  .parent .message {
    font-size: 23px;
  }
  .parent .message + p {
    margin: 0;
  }
  .parent .reset-password {
    width: 100%;
  }
}

.parent .reset-password form input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

.parent .reset-password form input:first-child {
  width: 65%;
  display: inline-flex;
  outline: none;
  box-shadow: 0 0 2px 1px var(--main-color);
}

.parent .reset-password form input:first-child:focus {
  box-shadow: 0 0 15px 1px var(--main-color);
}

.parent .reset-password form input:last-child {
  width: 28%;
  margin-left: 10px;
  cursor: pointer;
}
.parent a {
  color: white;
  text-decoration: none;
}

.confirm-code {
  display: none;
}

